html,
body {
   height: 100%;
}

body {
   font-size: 18px;
   line-height: 22px;
   @extend %M-400;
   color:$black;
}

.main {
   flex-grow: 1;
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}



