@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.first-block {
   min-height: 100vh;
   background-image: url('../images/1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

.header {
   font-size: 14px;
   line-height: 17px;
   @extend %M-500;
   color: $black;
   padding-top: 10px;
   margin-bottom: 120px;

   &-logo__img {
      object-fit: contain;
      width: 180px;
      height: 150px;
   }
}

.header-top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;

   &__contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-block {
         display: flex;
         flex-direction: column;
         margin-right: 57px;
      }

      &-place {
         margin-bottom: 40px;
      }

      &-phonelink+&-phonelink {
         display: inline-block;
         margin-top: 8px;
      }

      &-phone {
         color: $black;
         font-size: 16px;
         line-height: 20px;
         @extend %M-700;
      }

      &-place,
      &-time,
      &-phone {
         width: 230px;
         padding-left: 50px;
         position: relative;

         &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
         }
      }

      &-place::before {
         top: 4px;
         left: 10px;
         background-image: url('../images/icons/location.svg');
         background-repeat: no-repeat;
      }

      &-time::before {
         top: -6px;
         left: 10px;
         background-image: url('../images/icons/clock.svg');
         background-repeat: no-repeat;
      }

      &-phone::before {
         top: 8px;
         left: 10px;
         background-image: url('../images/icons/phone.svg');
         background-repeat: no-repeat;
      }
   }
}

.header-nav {
   width: 100%;

   &__menu {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #fff;
      padding: 15px 30px;
      border-radius: 30px;
      box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
   }

   &__link {
      font-size: 14px;
      line-height: 17px;

      &:hover {
         border-bottom: 1px solid $black;
      }
   }

   &__link--active {
      @extend %M-700;
      border-bottom: 1px solid $black;
   }

   &__list-search {
      position: relative;

      &:after {
         content: '';
         position: absolute;
         background-image: url('../images/icons/search.svg');
         background-repeat: no-repeat;
         width: 30px;
         height: 30px;
         right: 5px;
         top: 7px;
         cursor: pointer;
      }
   }

   &__input {
      border-radius: 20px;
      border: 1px solid $black;
      padding: 8px 40px 8px 20px;
      outline: none;
   }
}

.header-main__wrapper {
   display: flex;
   justify-content: space-between;
}


.header-info {
   &__title {
      margin-bottom: 35px;
      font-size: 38px;
      line-height: 46px;
      @extend %M-900;
   }

   &__subtitle {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 50px;
      @extend %M-500;
   }

   &__title,
   &__subtitle {
      width: 570px;
      color: $white;
   }

   &__btn {
      font-size: 20px;
      line-height: 24px;
      @extend %M-700;
      padding: 16px 38px;
      background: #FCFF60;
      box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      text-align: center;
   }
}

.header-slider {
   max-width: 350px;
   margin-top: 175px;

   &__inner {
      max-width: 300px;
      margin: 0 auto;
   }

   &__title {
      font-size: 25px;
      line-height: 30px;
      @extend %M-900;
      color: $white;
      text-align: center;
      margin-bottom: 10px;
   }

   &__item {
      text-align: center;
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
      padding: 15px 10px 17px 10px;
      margin-bottom: 10px;
   }

   &__country {
      font-size: 18px;
      line-height: 22px;
      color: $black;
      margin-bottom: 6px;
      @extend %M-700;
   }

   &__photo {
      margin: 0 auto;
      width: 245px;
      height:155px;
      object-fit: cover;
      margin-bottom: 8px;
   }

   &__description {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 20px;
   }

   &__info {
      display: flex;
      justify-content: space-evenly;
      font-size: 22px;
      color: $black;
      @extend %M-500;
   }

   &__price {
      background-color: #CFCFCF;
      padding: 5px 9px;
   }

   &__moreinfo {
      padding: 5px 9px;
      background-color: #84E439;
   }
}

.slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
   li {  
      margin: 0 8px;
      button {
         width: 14px;
         height: 14px;
         padding: 0;
         border: none;
         background-color: #C4C4C4;
         font-size: 0;
         border-radius: 50%;
         cursor: pointer;
      }
      &.slick-active {
         button{
            background-color: #84E439;
         }
      }
   }
}

.information{
   padding-top: 135px; 
}
.form{
   background-color: #345F87;
   border-radius: 10px;
   position: relative;
   margin-bottom: 70px;
   &::after{
      content:'';
      position: absolute;
      background-image: url('../images/form/girl.png');
      background-repeat: no-repeat;
      right: -20px;
      bottom: -10px;
      width: 375px;
      height: 375px;
   }
   &__title{
      @extend %M-900;
      color:$white;
      font-size: 25px;
      line-height: 30px;
      max-width:570px;
      padding-top: 30px;
      padding-bottom: 45px;
      margin-left: 100px;
   }
   &__name-box, &__phone-box{
      position: relative;
      display: inline;
      &::before{
         content:''; 
         position: absolute;
         width: 25px;
         height: 25px;
         background-repeat: no-repeat;
      }
   }
   &__name-box{
      &::before{
         background-image: url('../images/form/user-icon.svg');
         top:-2px;
         left:75px;
      }
   }
   &__phone-box{
      &::before{
         background-image: url('../images/form/phone.svg');
         top:-2px;
         left:35px;
      }
   }
   &__name, &__phone{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      outline:none;
      padding:10px 10px 10px 35px;
      border:none;
      margin-bottom: 60px;
   }
   &__name{
      margin-left: 70px;
   }
   &__phone{
      margin: 0 30px;
   }
   &__btn{
      background-color: #F2994A;
      padding:12px 27px;
      border:none;
      outline:none;
      cursor:pointer;
      box-shadow: 0px 0px 15px 5px rgba(242, 153, 74, 1);
      border-radius:10px;
      @extend %M-700;
      color:$white;
   }
}

.advantages{
   margin-bottom: 50px;
   text-align: center;
   &__title{
      font-size: 25px;
      line-height: 30px;   
      color:$black;
      @extend %M-900;
      margin-bottom: 35px;
   }
   &__inner{
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
   }
   &__item{
      width:250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__img{
      margin-bottom: 8px;
   }
   &__name{
      font-size: 18px;
      @extend %M-700;
      color:$black;
      margin-bottom: 10px;
   }
}

.most-popular{
   background-image: url(../images/popular.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding:120px 0 80px;
   margin-bottom: 100px;
      &__title{
      font-size: 50px;
      line-height: 61px;
      text-align: center;
      @extend %M-900;
      text-align: center;
      color:$white;
      max-width:950px;
      margin: 0 auto;
      }
}

.countries{
   margin-bottom: 120px;

   &__inner{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
   }
   &__item{
      width:300px;
      height:400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #C4C4C4;
      border:1px solid #C4C4C4;
      transition: all .2s; 
      background-repeat: no-repeat;
      background-size: cover;
      &:hover{
      box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.25);
      }
   }
   &__title{
      font-size: 18px;
      @extend %M-500;
      color:$white;
      text-align: center;
      padding-top: 22px;
   }
   &__info{
      height:40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   &__price-old{
      color: #FF1818;
      text-decoration: line-through;
      margin-bottom: auto;
   }
   &__price-new{
      font-size: 26px;
      line-height: 30px;
   }
   &__price, &__description{
      width:50%;
      height:40px;
      display: flex;
      color:$black;
   }
   &__price{
      background-color: #fff;
      @extend %M-700;
      justify-content: space-evenly;
      align-items: center;
   }
   &__description{
      background-color: #84E439;
      justify-content: center;
      align-items: center;
      @extend %M-500;
      cursor: pointer;
   }
}











@import 'media';