body {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

.countries__description, .countries__title, .header-slider__info, .header-info__subtitle, .header {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

.footer__social-email-link, .footer__item-link--active, .reviews__btn, .reviews__slider-author, .countries__price, .advantages__name, .form__btn, .header-slider__country, .header-info__btn, .header-nav__link--active, .header-top__contacts-phone {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

.reviews__title, .most-popular__title, .advantages__title, .form__title, .header-slider__title, .header-info__title {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-style: normal;
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.woff"), url("../fonts/Montserrat-Black.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff"), url("../fonts/Montserrat-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff"), url("../fonts/Montserrat-Medium.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff"), url("../fonts/Montserrat-Regular.woff2");
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-top: 10px;
  margin-bottom: 120px;
}
.header__inner {
  min-height: 100vh;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.header-logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 180px;
  height: 150px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.header-top__btn {
  display: none;
}
.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 57px;
}
.header-top__contacts-place {
  margin-bottom: 40px;
}
.header-top__contacts-phonelink {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-top__contacts-phonelink:hover {
  border-bottom: 1px solid #fff;
}
.header-top__contacts-phonelink + .header-top__contacts-phonelink {
  display: inline-block;
  margin-top: 8px;
}
.header-top__contacts-phone {
  font-size: 16px;
  line-height: 20px;
}
.header-top__contacts-place, .header-top__contacts-time, .header-top__contacts-phone {
  color: #fff;
  width: 230px;
  padding-left: 50px;
  position: relative;
}
.header-top__contacts-place::before, .header-top__contacts-time::before, .header-top__contacts-phone::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}
.header-top__contacts-place::before {
  top: 4px;
  left: 10px;
  background-image: url("../images/icons/location.svg");
  background-repeat: no-repeat;
}
.header-top__contacts-time::before {
  top: -6px;
  left: 10px;
  background-image: url("../images/icons/clock.svg");
  background-repeat: no-repeat;
}
.header-top__contacts-phone::before {
  top: 8px;
  left: 10px;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
}

.header-nav {
  width: 100%;
}
.header-nav__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
}
.header-nav__link {
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-nav__link:hover {
  border-bottom: 1px solid #000;
}
.header-nav__link--active {
  border-bottom: 1px solid #000;
}
.header-nav__list-search {
  position: relative;
}
.header-nav__list-search:after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 7px;
  cursor: pointer;
}
.header-nav__input {
  border-radius: 20px;
  border: 1px solid #000;
  padding: 8px 40px 8px 20px;
  outline: none;
}

.header-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-info__title {
  margin-bottom: 35px;
  font-size: 38px;
  line-height: 46px;
}
.header-info__subtitle {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}
.header-info__title, .header-info__subtitle {
  width: 570px;
  color: #fff;
}
.header-info__btn {
  font-size: 20px;
  line-height: 24px;
  padding: 16px 38px;
  background: #FCFF60;
  -webkit-box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-info__btn:hover {
  background: rgba(237, 240, 50, 0.737254902);
}

.header-slider {
  max-width: 350px;
  margin-top: 175px;
}
.header-slider__inner {
  max-width: 300px;
  margin: 0 auto;
}
.header-slider__title {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.header-slider__item {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 15px 10px 17px 10px;
  margin-bottom: 10px;
}
.header-slider__country {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 6px;
}
.header-slider__photo {
  margin: 0 auto;
  width: 245px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 8px;
}
.header-slider__description {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.header-slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 22px;
  color: #000;
}
.header-slider__price {
  background-color: #CFCFCF;
  padding: 5px 9px;
}
.header-slider__moreinfo {
  padding: 5px 9px;
  background-color: #84E439;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-slider__moreinfo:hover {
  background-color: #70c331;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots li button {
  width: 14px;
  height: 14px;
  padding: 0;
  border: none;
  background-color: #C4C4C4;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background-color: #84E439;
}

.information {
  padding-top: 135px;
}

.form {
  background-color: #345F87;
  border-radius: 10px;
  position: relative;
  margin-bottom: 70px;
}
.form::after {
  content: "";
  position: absolute;
  background-image: url("../images/form/girl.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -85px;
  bottom: -35px;
  width: 375px;
  height: 375px;
}
.form__title {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  max-width: 570px;
  padding-top: 30px;
  padding-bottom: 45px;
  margin-left: 100px;
}
.form__name-box, .form__phone-box {
  position: relative;
  display: inline;
}
.form__name-box::before, .form__phone-box::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}
.form__name-box::before {
  background-image: url("../images/form/user-icon.svg");
  top: -2px;
  left: 75px;
}
.form__phone-box::before {
  background-image: url("../images/form/phone.svg");
  top: -2px;
  left: 35px;
}
.form__name, .form__phone {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  padding: 10px 10px 10px 35px;
  border: none;
  margin-bottom: 60px;
}
.form__name {
  margin-left: 70px;
}
.form__phone {
  margin: 0 30px;
}
.form__btn {
  background-color: #F2994A;
  padding: 12px 27px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 5px rgb(242, 153, 74);
          box-shadow: 0px 0px 15px 5px rgb(242, 153, 74);
  border-radius: 10px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__btn:hover {
  background-color: #d18a4c;
  -webkit-box-shadow: 0px 0px 10px 3px rgb(242, 153, 74);
          box-shadow: 0px 0px 10px 3px rgb(242, 153, 74);
}

.advantages {
  margin-bottom: 50px;
  text-align: center;
}
.advantages__title {
  font-size: 25px;
  line-height: 30px;
  color: #000;
  margin-bottom: 35px;
}
.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.advantages__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__img {
  margin-bottom: 8px;
}
.advantages__name {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.most-popular {
  background-image: url(../images/popular.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 120px 0 80px;
  margin-bottom: 100px;
}
.most-popular__title {
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #fff;
  max-width: 950px;
  margin: 0 auto;
  text-transform: uppercase;
}

.countries {
  margin-bottom: 120px;
}
.countries__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.countries__item {
  width: 250px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
}
.countries__item:hover {
  -webkit-box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.25);
}
.countries__title {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  padding-top: 22px;
}
.countries__info {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.countries__price-old {
  color: #FF1818;
  text-decoration: line-through;
  margin-bottom: auto;
}
.countries__price-new {
  font-size: 26px;
  line-height: 30px;
}
.countries__price, .countries__description {
  width: 50%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
.countries__price {
  background-color: #fff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.countries__description {
  background-color: #84E439;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.countries__description:hover {
  background-color: #84d545;
}

.our-reviews {
  background-image: url(../images/reviews/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.reviews {
  padding-bottom: 40px;
}
.reviews__title {
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 120px 0 135px;
  margin-bottom: 40px;
}
.reviews__slider {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}
.reviews__slider-img {
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 50px;
}
.reviews__slider-author {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.reviews__slider-text {
  max-width: 425px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 50px;
}
.reviews .slick-dots {
  padding-bottom: 15px;
}
.reviews .slick-next,
.reviews .slick-prev {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.reviews .slick-prev {
  left: 35px;
}
.reviews .slick-next {
  right: 35px;
}
.reviews__btn {
  display: block;
  text-align: center;
  border: none;
  color: #fff;
  margin: 0 auto;
  background: #F2994A;
  -webkit-box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.25);
  padding: 17px 58px;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.reviews__btn:hover {
  background: #cd8b52;
  -webkit-box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.25);
}

.footer {
  background-image: url(../images/footer/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.footer__nav {
  height: 60px;
  width: 100%;
  background-color: #FCFF60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}
.footer__item-link {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 1px solid transparent;
}
.footer__item-link:hover {
  border-bottom: 1px solid #000;
}
.footer__bottom {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}
.footer .contacts-place {
  width: 280px;
  margin-bottom: 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-email-img {
  margin-right: 15px;
}
.footer__social-email-link {
  text-decoration: underline;
}
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__rights {
  color: #fff;
  text-align: right;
}
.footer__rights-btn {
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px;
  border: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  .header-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
  .header-top__contacts-block {
    margin-right: 0;
  }
  .header-nav {
    margin-top: 20px;
    text-align: center;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header-nav.header-nav--active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header-nav__menu {
    display: -ms-inline-grid;
    display: inline-grid;
    text-align: center;
    width: auto;
  }
  .header-nav__list + .header-nav__list {
    margin-top: 20px;
  }
  .header-nav__link {
    font-size: 25px;
  }
  .header-top__btn {
    width: 30px;
    height: 25px;
    border: none;
    margin-left: auto;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  .header-top__btn span {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .header-top__btn::after, .header-top__btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .header-top__btn::before {
    top: 0;
  }
  .header-top__btn::after {
    bottom: 0;
  }
}
@media (max-width: 680px) {
  .header-top__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
  }
  .header-top__contacts-place, .header-top__contacts-time {
    margin-bottom: 25px;
  }
}
@media (max-width: 530px) {
  .header-top__contacts {
    margin-left: 0;
  }
  .header-logo {
    display: none;
  }
}