body {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

.header {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

.header-info__btn, .header-nav__link--active, .header-top__contacts-phone {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

.header-slider__title, .header-info__title {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-style: normal;
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.woff"), url("../fonts/Montserrat-Black.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff"), url("../fonts/Montserrat-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff"), url("../fonts/Montserrat-Medium.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff"), url("../fonts/Montserrat-Regular.woff2");
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.first-block {
  height: 100vh;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-top: 10px;
  margin-bottom: 150px;
}
.header-logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 180px;
  height: 150px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 57px;
}
.header-top__contacts-place {
  margin-bottom: 40px;
}
.header-top__contacts-phonelink + .header-top__contacts-phonelink {
  display: inline-block;
  margin-top: 8px;
}
.header-top__contacts-phone {
  color: #000;
  font-size: 16px;
  line-height: 20px;
}
.header-top__contacts-place, .header-top__contacts-time, .header-top__contacts-phone {
  width: 230px;
  padding-left: 50px;
  position: relative;
}
.header-top__contacts-place::before, .header-top__contacts-time::before, .header-top__contacts-phone::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}
.header-top__contacts-place::before {
  top: 4px;
  left: 10px;
  background-image: url("../images/icons/location.svg");
  background-repeat: no-repeat;
}
.header-top__contacts-time::before {
  top: -6px;
  left: 10px;
  background-image: url("../images/icons/clock.svg");
  background-repeat: no-repeat;
}
.header-top__contacts-phone::before {
  top: 8px;
  left: 10px;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
}

.header-nav {
  width: 100%;
}
.header-nav__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
}
.header-nav__link {
  font-size: 14px;
  line-height: 17px;
}
.header-nav__link:hover {
  border-bottom: 1px solid #000;
}
.header-nav__link--active {
  border-bottom: 1px solid #000;
}
.header-nav__list-search {
  position: relative;
}
.header-nav__list-search:after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 7px;
  cursor: pointer;
}
.header-nav__input {
  border-radius: 20px;
  border: 1px solid #000;
  padding: 8px 40px 8px 20px;
  outline: none;
}

.header-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-info__title {
  margin-bottom: 35px;
  font-size: 38px;
  line-height: 46px;
}
.header-info__subtitle {
  margin-bottom: 50px;
}
.header-info__title, .header-info__subtitle {
  width: 570px;
  color: #fff;
}
.header-info__btn {
  font-size: 20px;
  line-height: 24px;
  padding: 16px 38px;
  background: #FCFF60;
  -webkit-box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
}

.header-slider__block {
  width: 400px;
}
.header-slider__title {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}

@media (max-width: 1100px) {
  .header-top__contacts {
    display: block;
  }
  .header-top__contacts-block {
    margin-bottom: 40px;
    margin-right: 0;
  }
}